<section class="banner" id="banner">
  <div class="content">
    <h2>The most awesome Discord Bot</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
      assumenda non eos, ad hic neque repudiandae debitis eum omnis iure. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Quaerat quis provident
      accusantium. Laudantium praesentium commodi veniam ducimus quis eius saepe
      hic, odio obcaecati perspiciatis illum est, dolorem temporibus! Eligendi
      et delectus voluptas eaque labore fuga asperiores saepe enim, similique
      ducimus, nobis minus eum! Ex facilis, quas eos aliquid facere aliquam!
    </p>
  </div>
</section>
