 .copyrightText {
   position: fixed;
   width: 100%;
   height: 40px;
   padding-top: 5px;
   bottom: 0;
   left: 0;
   border-top: 1px solid#703B73;
   text-align: center;
   background: #703B73;

 }

 .copyrightText p {
   font-weight: 500;
   font-size: small;
   color: #fff;
   font-family: 'Bangers', cursive;

 }

 .copyrightText a {
   color: #bc9fda;
   font-weight: 500;
   font-size: small;
   text-decoration: none;

 }
